# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Exclude PCNF files (if any)
*pcnf*

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
